html, body, #content {
  min-height: 100%;
  height: 100%;
}
body {
  width:100%;
  height:100%;
  min-height: 100%;
  margin:0;
  padding:0;
  background: white;
  background-size: cover;
  overflow: hidden;
}
p {
  font-family: monospace;
}
h1 {
  font-family: monospace;
  text-decoration: underline;
}
h3 {
  font-family: monospace;
}
h4 {
  font-family: monospace;
}
a {
  font-family: monospace;
  text-decoration: none;
  color: skyblue;
  transition: color .5s ease-in-out;
  -webkit-transition: color .5s ease-in-out;
  -moz-transition: color .5s ease-in-out;
  -o-transition: color .5s ease-in-out;
  -ms-transition: color .5s ease-in-out;
}
a:hover {
  color: purple;
}
.btn {
  background-color: transparent;
  border: 1px solid silver;
  border-style: solid;
  border-width: thin;
  border-radius: 5px;
  cursor: pointer;
  color: silver;
  outline: none;
}
.btn:hover {
  color: skyblue;
  border-color: skyblue;
}
.app {
  height: 100%;
  width: 100%;
  z-index: -1;
}
.workspace {
  /*position: relative;*/
  height: 100%;
  width: 100%;
  padding-bottom: 25px;
  display: block;
  z-index: -40;
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */

  /* Rules below not implemented in browsers yet */
  -o-user-select: none;
  user-select: none;
}

/*	Nav
==================================================*/
.nav {
  top: 0;
  width: 100%;
  height: 0px;
  padding-left: 25px;
  z-index: 10000;
}
.modals {
  z-index: 0;
}
.nav-button {
  position: inherit;
  height: 40px;
  width: 80px;
  display: inline-block;
  margin-left: 10px;
  margin-top: 25px;
  z-index: 10000;
  cursor: pointer;
}
.nav-button img {
  height:100%;
  width: 100%;
}
.tooltip {
  text-align: center;
}
.sidebar-handle {
  float: right;
  height: 10px;
  width: 20px;
  margin-right: 50px;
  margin-top: 35px;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
  cursor: pointer;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  -ms-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}
.sidebar-handle:hover {
  border-top: 3px solid skyblue;
  border-bottom: 3px solid skyblue;
}
.open-sidebar-handle {
  margin-right: 325px !important;
}
.nav-svg {
  fill: black;
  -webkit-transition: all .25s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  -o-transition: all .25s ease-in-out;
  -ms-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
  position: inherit;
  height: 100%;
  width: 100%;
  fill: black;
}
.nav-svg:hover {
  fill: skyblue;
}
.svg-active {
  fill: skyblue;
}
.save-button {
}

/*	Notifications
==================================================*/
.notification-bar {
  position: relative;
  z-index: 10000 !important;
}

/*	Modals
==================================================*/
.signup {
  width: 100%;
  height: 100%;
  margin: 5px;
  text-align: center;
}
.login {
  width: 100%;
  height: 100%;
  margin: 5px;
  text-align: center;
}
.form-item {
  margin: 15px;
  font-family: monospace;
  display: block;
  height: 25px;
  width: 200px;
}
.form-input {
  border: none;
  border-bottom: 1px solid silver;
  outline: none;
  background-color: transparent;
  transition: all .5s;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  -ms-transition: all .5s;
}
.form-input:hover {
  border: none;
  border-bottom: 1px solid black;
}
.form-input:focus {
  border: none;
  border-bottom: 1px solid black;
}
.form-submit {
  margin-top: 25px;
}
.full-form-submit {

}
.form-submit:hover {
  border-color: skyblue;
  color: skyblue;
}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color:    silver;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color:    silver;
  opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  color:    silver;
  opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color:    silver;
}
.closeModal {
  display: block;
  width: 75px;
  height: 25px;
  font-family: monospace;
  margin-left: auto;
  margin-right: auto;
  background-color: transparent;
  border-color: silver;
  border-style: solid;
  border-width: thin;
  border-radius: 5px;
  color: darkgrey;
  text-align: center;
  cursor: pointer;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  -ms-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}
.closeModal:hover {
  color: skyblue;
  border-color: skyblue;
}
.welcome {
  text-align: center;
  font-family: monospace;
}
.sk-spinner {
  margin-left: auto;
  margin-right: auto;
}

/*	Rnd Containers
==================================================*/
.box {
  text-align: center;
  display: inline-block;
  width: 100%;
  height: 100%;
  font-family: 'Pacifico', cursive;
  font-size: 32px;
  z-index: 101;
}
.rnd {
  text-align: center;
  padding: 0;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*	Delete Button
==================================================*/
.delete {
  margin-bottom:50px;
}
.delete-button {
  font-family: helvetica;
  font-weight: 300;
  font-size: 10px;
  align-content: center;
  cursor: pointer !important;
  display: inline-block;
  color: white;
  background: black;
  width: 5px;
  height: 5px;
  line-height: 3px;
  border-radius: 10px;
  padding: 5px;
  border: 1px solid black;
}
.flash-hover:before {
  content: "";
  height: 100px;
  width: 70px;
  transform: rotate(20deg);
}
.flash-hover:hover:before {
  left: 150px;
  transition: all .75s;
  -webkit-transition: all .75s;
  -moz-transition: all .75s;
  -o-transition: all .75s;
  -ms-transition: all .75s;
}
.addon-delete {
  position: absolute;
  z-index: 102;
  left: -9px;
  top: -12px;
  overflow: hidden !important;
}
.addon-flash:before {
  position: absolute;
  top: -30px;
  left: -80px;
  background: rgba(135, 206, 235, .9);
}
.creation-delete {
  position: relative;
  float: right;
  right: -9px;
  top: -12px;
  overflow: hidden !important;
}
.creation-flash:before {
  top: -30px;
  left: -80px;
  background: rgba(255, 255, 255, .9);
}

/*	Addons
==================================================*/
.non-selectable {
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */

  /* Rules below not implemented in browsers yet */
  -o-user-select: none;
  user-select: none;
}
.img-addon {
  position: inherit;
  height: 100%;
  width: 100%;
  z-index: 99;
}
.screenshot {
  position: inherit;
  height: 100%;
  width: 100%;
  z-index: 2;
}
.text-addon {
  background: transparent;
  border: 0 none;
  font-size: 1em;
  color: black;
  resize: none;
  position: inherit;
  height: 100%;
  width: 100%;
  z-index: 99;
}
.img-mask {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 100;
}
.screenshot-mask {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  height: 100%;
  width: 100%;
}
.photo {
  z-index: -1;
  border: 3px;
  border-color: darkgrey;
}
.active-addon {
  outline: 1px solid silver;
  z-index: 100;
}
.textbox {
  height: 200px;
  width: 200px;
}
textarea {
  overflow: auto;
  outline: none;
  background: none;
  border: none;
  color: lightgrey;
  padding-left: 10;
  font-weight: bold;
  font-size: 40px;
}
textarea::-webkit-input-placeholder {
  color: whitesmoke;
}
textarea:-moz-placeholder {
  color:    whitesmoke;
  opacity:  1;
}
textarea::-moz-placeholder {
  color:    whitesmoke;
  opacity:  1;
}
textarea:-ms-input-placeholder {
  color:    whitesmoke;
}

/*	Drawers
==================================================*/
.drawers {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 0;
  width: 100%;
  z-index: 1000;
}
.drawer-wrapper {
  position: inherit;
  width: 100%;
  height: 250px;
  bottom: -250px;
  left: 0;
  transition: bottom .5s ease-in-out;
  -webkit-transition: bottom .5s ease-in-out;
  -moz-transition: bottom .5s ease-in-out;
  -o-transition: bottom .5s ease-in-out;
  -ms-transition: bottom .5s ease-in-out;
}
.active-drawer-wrapper{
  bottom: 25px !important;
}
.drawer-handles-wrapper {
  /*background-color: lightgrey;*/
  position: absolute;
  width: 100%;
  height: 25px;
  bottom: 0;
  left: 0;
}
.drawer-handles {
  background-color: black;
  font-family: monospace;
  color: white;
  cursor: pointer;
  height: 25px;
  padding-top: 5px;
  text-align: center;
  display: inline-block;
  overflow: hidden;
  z-index: 1001;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  -ms-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}
.drawer-handles:hover {
  background-color: skyblue;
}
.active-drawer-handle {
  background-color: transparent !important;
  font-weight: bold;
  color: skyblue;
}
.drawer {
  background-color: whitesmoke;
  border-top: 1px solid lightgrey;
  position: absolute;
  height: 250px;
  width: 100%;
  padding: 15px;
  margin-bottom: 50px;
  overflow-y: scroll;
  z-index: 999;
}
.active-drawer {
  z-index: 1000 !important;
}
.inactive-drawer {
  z-index: 999;
}
.drawer-item {
  display: inline-grid;
  cursor: pointer;
  height: 75px;
  width: 75px;
  padding: 5px;
  margin: 10px;
  border-radius: 5px;
  border: 1px solid transparent;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  -ms-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}
.emoji {
  display: inline-grid;
  cursor: pointer;
  height: 40px;
  width: 40px;
  margin: 10px;
  border-radius: 5px;
  border: 1px solid transparent;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  -ms-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}
.drawer-item:hover {
  border: 1px solid skyblue;
  color: skyblue;
}
.text-item-container {
  height: inherit;
  width: inherit;
}
.text-drawer-item {
  width: auto;
  text-align: center;
  height: auto;
  padding-right: 10px;
  padding-left: 10px;
}
.drawer-item img {
  position: inherit;
  height: 100%;
  width: 100%;
}
.emoji img {
  position: inherit;
  height: 100%;
  width: 100%;
}
.text-template {
  width: auto !important;
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 0;
}
.notifications-wrapper {
  font-family: monospace;
}

/*  Webcam
==================================================*/
.photobox {
  margin-left: auto;
  margin-right: auto;
  /*background-color: red;*/
  height: 480px;
  width: 640px;
  overflow: hidden;
  border-radius: 5px;
  border: 2px solid black;
  margin-bottom: 25px;
}

/*  Creations
==================================================*/
.sidebar {
  text-align: center;
  position: fixed;
  padding-bottom: 25px;
  background-color: rgba(245, 245, 245, 0.6) !important;
  border-left: 1px solid black;
  z-index: 100;
  width: 275px;
  height: 100%;
  right: -276px;
  top: 0;
  -webkit-transition: right .5s ease-in-out;
  -moz-transition: right .5s ease-in-out;
  -o-transition: right .5s ease-in-out;
  -ms-transition: right .5s ease-in-out;
  transition: right .5s ease-in-out;
}
.open-sidebar {
  right: 0px;
}
.creation {
  width: 200px;
  height: 100px;
  padding: 10px;
  background-color: white;
  margin: 25px;
  border-radius: 10px;
  border: 1px solid black;
  text-align: justify;
}
.creation-restore {
  cursor: pointer;
  font-family: helvetica;
  font-weight: 300;
  font-size: 10px;
  text-align: center;
  display: inline-block;
  color: white;
  background: black;
  width: 35px;
  height: 5px;
  position: relative;
  top: -12px;
  left: -9px;
  line-height: 3px;
  border-radius: 10px;
  padding: 5px;
  border: 1px solid black;
}
.creation h3 {
  margin: auto;
  font-family: monospace;
}
