html, body, #content {
  min-height: 100%;
  height: 100%;
}
body {
  width:100%;
  height:100%;
  min-height: 100%;
  margin:0;
  padding:0;
  background: white;
  background-size: cover;
  overflow: hidden;
}
p {
  font-family: monospace;
}
.app {
  height: 100%;
  width: 100%;
  z-index: -1;
}
.workspace {
  height: 100%;
  width: 100%;
  z-index: -1;
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */

  /* Rules below not implemented in browsers yet */
  -o-user-select: none;
  user-select: none;
}

/*	Button Bar
==================================================*/
.btn-bar {
  width: 100%;
  padding-right: 10px;
  background-color: lightgrey;
  text-align: center;
  position: absolute;
  right: 0;
  z-index: 2;

}

button:focus {outline:0;}

.btn {
  float: right;
  margin: 10px;
  font-family: monospace;
  background-color: transparent;
  border: 1px solid silver;
  border-style: solid;
  border-width: thin;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.75);
  display: inline-block;
  cursor: pointer;
}
.btn:hover {
  color: dimgrey;
}
.keyboard-img {
  height: 45px;
  width: 55px;
  display: inline-block;
  float: left;
  margin-left: 35px;
}

/*	Signup/Login
==================================================*/
.signup {
  width: 100%;
  height: 100%;
  margin: 5px;
  text-align: center;
}
.login {
  width: 100%;
  height: 100%;
  margin: 5px;
  text-align: center;
}
.form-item {
  margin: 15px;
  display: block;
  height: 25px;
  width: 200px;
  transition: all .5s;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  -ms-transition: all .5s;
}
.form-input {
  border: none;
  border-bottom: 1px solid silver;
  outline: none;
  background-color: whitesmoke;
}
.form-input:hover {
  border: none;
  border-bottom: 1px solid black;
}
.form-input:active {
  border: none;
  border-bottom: 1px solid black;
}
.form-submit {
  background-color: transparent;
  border: 1px solid silver;
  border-style: solid;
  border-width: thin;
  border-radius: 5px;
  margin-top: 25px;
  cursor: pointer;
  color: silver;
}
.form-submit:hover {
  border-color: black;
  color: dimgrey;
}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color:    silver;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color:    silver;
  opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  color:    silver;
  opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color:    silver;
}

.closeModal {
  display: block;
  margin-left: 100px;
  background-color: transparent;
  border: 1px solid silver;
  border-style: solid;
  border-width: thin;
  border-radius: 5px;
  color: darkgrey;
  text-align: center;
  cursor: pointer;
   
}
.closeModal:hover {
  color: dimgrey;
}

/*	Rnd Containers
==================================================*/
.box {
  text-align: center;
  display: inline-block;
  width: 100%;
  height: 100%;
  font-family: 'Pacifico', cursive;
  font-size: 32px;
  z-index: 101;
}
.rnd {
  text-align: center;
  padding: 0;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*	Delete Button
==================================================*/
.delete-button {
  font-family: helvetica;
  font-weight: 300;
  font-size: 10px;
  z-index: 102;
  left: 0px;
  top: -20px;
  position: absolute;
  align-content: center;
  cursor: pointer !important;
  display: inline-block;
  color: white;
  background: black;
  width: 5px;
  height: 5px;
  line-height: 3px;
  border-radius: 10px;
  overflow: hidden;
  padding: 5px;
  border: 1px solid black;
}
.flash-hover:before {
  content: "";
  position: absolute;
  top: -30px;
  left: -80px;
  height: 100px;
  width: 70px;
  background: rgba(255, 255, 255, .9);
  transform: rotate(20deg);
}
.flash-hover:hover:before {
  left: 150px;
  transition: all .75s;
  -webkit-transition: all .75s;
  -moz-transition: all .75s;
  -o-transition: all .75s;
  -ms-transition: all .75s;
}
.delete {
  margin-bottom:50px;
}

/*	Addons
==================================================*/
.non-selectable {
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */

  /* Rules below not implemented in browsers yet */
  -o-user-select: none;
  user-select: none;
}
.img-addon {
  position: inherit;
  height: 100%;
  width: 100%;
  z-index: 99;
}
.screenshot {
  position: inherit;
  height: 100%;
  width: 100%;
  z-index: 2;
}
.text-addon {
  background: transparent;
  border: 0 none;
  font-size: 1em;
  color: black;
  resize: none;
  position: inherit;
  height: 100%;
  width: 100%;
  z-index: 99;
}
.img-mask {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 100;
}
.screenshot-mask {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  height: 100%;
  width: 100%;
}
.photobox {
  position: fixed;
  top: 20px;
  left: 300px;
  z-index: 1;
}
.photo {
  z-index: -1;
  border: 3px;
  border-color: darkgrey;
}
.active-addon {
  outline: 1px solid silver;
  z-index: 100;
}
.textbox {
  height: 200px;
  width: 200px;
}
textarea {
  overflow: auto;
  outline: none;
  background: none;
  border: none;
  color: lightgrey;
  padding-left: 10;
  font-weight: bold;
  font-size: 40px;
}
textarea::-webkit-input-placeholder {
  color: whitesmoke;
}
textarea:-moz-placeholder {
  color:    whitesmoke;
  opacity:  1;
}
textarea::-moz-placeholder {
  color:    whitesmoke;
  opacity:  1;
}
textarea:-ms-input-placeholder {
  color:    whitesmoke;
}

/*	Drawers
==================================================*/
.drawers {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 0;
  width: 100%;
  z-index: 1;
}
.drawer-wrapper {
  position: inherit;
  width: 100%;
  height: 250px;
  bottom: -250px;
  left: 0;
  transition: bottom .5s ease-in-out;
  -webkit-transition: bottom .5s ease-in-out;
  -moz-transition: bottom .5s ease-in-out;
  -o-transition: bottom .5s ease-in-out;
  -ms-transition: bottom .5s ease-in-out;
}
.active-drawer-wrapper{
  bottom: 25px !important;
}
.drawer-handles-wrapper {
  /*background-color: lightgrey;*/
  position: inherit;
  width: 100%;
  height: 25px;
  bottom: 0;
  left: 0;
}
.active-drawer-handle {
  background-color: transparent;
}
.drawer-handles {
  background-color: lightgrey;
  font-family: monospace;
  cursor: pointer;
  width: 150px;
  height: 25px;
  padding-top: 5px;
  text-align: center;
  display: inline-block;
  overflow: hidden;
  z-index: 1001;
  -webkit-transition: background-color .25s ease-in-out;
  -moz-transition: background-color .25s ease-in-out;
  -o-transition: background-color .25s ease-in-out;
  -ms-transition: background-color .25s ease-in-out;
  transition: background-color .25s ease-in-out;
  /*border-top-left-radius: 50px;*/
  /*border-top-right-radius: 50px;*/
  /*border: 2px solid black;*/
}
.drawer-handles:hover {
  background-color: silver;
}
.drawer {
  background-color: whitesmoke;
  border-top: 1px solid lightgrey;
  position: absolute;
  height: 250px;
  width: 100%;
  padding: 15px;
  overflow-y: scroll;
  z-index: 999;
}
.active-drawer {
  z-index: 1000 !important;
}
.inactive-drawer {
  z-index: 999;
}
.drawer-item {
  display: inline-grid;
  cursor: pointer;
  margin: 15px;
  height: 75px;
  width: 75px;
}
.drawer-item img {
  height: 100%;
  width: 100%;
}
.keyboard-img {
  height: 45px;
  width: 55px;
  display: inline-block;
  float: left;
  margin-left: 75px;
}

/*  Webcam
==================================================*/
.photobox {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  padding-top: 100px;
}
.webcam {
  margin-left: auto;
  margin-right: auto;
  height: 400px;
  width: 600px;
}
