html, body, #content {
  min-height: 100%;
  height: 100%;
}
body {
  width:100%;
  height:100%;
  min-height: 100%;
  margin:0;
  padding:0;
  background: green;
  background-size: cover;
  overflow: hidden;
}
.app {
  height: 100%;
  width: 100%;
  z-index: -1;
}
.btn-bar {
  width: 100%;
  padding: 0px;
  background-color: black;
  text-align: center;
  position: absolute;
  right: 0;
  z-index: 2;
}
.btn {
  margin: 10px;
}
.workspace {
  height: 100%;
  width: 100%;
  z-index: -1;
}
.handle {
  width: 100px;
  height: 100px;
  background: #333;
}
.box {
  overflow: hidden;
  text-align: center;
  display: inline-block;
  width: 100%;
  height: 100%;
  font-family: 'Pacifico', cursive;
  font-size: 32px;
  z-index: 101;
}
.rnd {
  text-align: center;
  padding: 0;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
/*.delete {
  z-index: 102;
  right: -20px;
  bottom: -20px;
  position: absolute;
  align-content: center;
  cursor: pointer !important;
  float:right;
  color: #fff;
  border: 1px;
  border-radius: 30px;
  background: #605F61;
  font-size: 16px;
  display: inline-block;
  line-height: 11px;
  padding: 10px;

}*/

.delete .button {
    font-family: sans-serif;
    z-index: 102;
    right: -20px;
    bottom: -20px;
    float:right;
    position: absolute;
    align-content: center;
    cursor: pointer !important;
    display: inline-block;
    color: white;
    background: black;
    width: 11px;
    height: 11px;
    line-height: 12px;
    border-radius: 30px;
    overflow: hidden;
    padding: 10px;
}

.delete .button:before {
    content: "";
    position: absolute;
    top: -30px;
    left: -80px;
    height: 100px;
    width: 70px;
    background: rgba(255, 255, 255, .7);
    transform: rotate(20deg);
}

.delete .button:hover:before {
    left: 150px;
    transition: all .5s;
}

.delete {margin-bottom:50px;}


.img-addon {
  position: inherit;
  height: 100%;
  width: 100%;
  z-index: 99;
}
.text-addon {
  position: inherit;
  height: 100%;
  width: 100%;
  z-index: 99;
}
.img-mask {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 100;
}
.photobox {
  position: fixed;
  top: 20px;
  left: 300px;
  z-index: 100;
}
.active-addon {
  outline: 3px solid white;
}
.drawers {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 0px;
  width: 100%;
  z-index: 1;
  /*background-color: red;*/
}
.drawer-wrapper {
  position: inherit;
  width: 100%;
  height: 250px;
  bottom: 0;
  left: 0;
}
.drawer-handle-wrapper {
  position: inherit;
  width: 100%;
  height: 25px;
  bottom: 250px;
  left: 0;
}
.drawer-handle {
  cursor: pointer;
  width: 200px;
  height: 25px;
  padding-top: 5px;
  text-align: center;
  display: inline-block;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  z-index: 102;
  /*border: 2px solid black;*/
}
.drawer-1 {
  background-color: skyblue;
}
.drawer-2 {
  background-color: aquamarine;
}
.drawer-3 {
  background-color: moccasin;
}
.drawer {
  position: absolute;
  height: 250px;
  width: 100%;
  padding: 25px;
  overflow-y: scroll;
  z-index: 999;
}
.active-drawer {
  z-index: 1000 !important;
}
.inactive-drawer {
  z-index: 999;
}
.textbox {
  height: 200px;
  width: 200px;
}
.textarea {
  overflow: auto;
}
.drawer-item {
  display: inline-grid;
  cursor: pointer;
  margin: 15px;
  height: 75px;
  width: 75px;
}
.drawer-item img {
  height: 100%;
  width: 100%;
}
